/* Global variables */
:root {
  /* Colors */
  --c-black: #05091e;
  --c-blue: #46b4ff;
  --c-gray: #90aab7;
  --c-green: #9ef2cb;
  --c-pink: #ffb8d9;
  --c-orange: #ffb7a3;
  --c-yellow: #ffdace;
  --c-white: #fff;

  --t-fg: var(--c-black);
  --t-bg: var(--c-white);
  --t-subdue: var(--c-gray);
  --t-active: var(--c-blue);
}

body {
  margin: 0;
  color: var(--t-fg);
  font-family: "Inter", "system-ui", sans-serif;
}

* {
  box-sizing: content-box;
}

.social-icons {
  @apply w-5 h-5 fill-slate-500 hover:fill-slate-700;
}
