---
import Header from "../components/Head.astro";
---

<html lang="en">
  <head>
    <Header title="Not Found" />
  </head>
  <body>
    <div class="text-center p-4">
      <h1 class="text-lg md:text-3xl lg:text-5xl">Page Not Found</h1>
    </div>
  </body>
</html>
