---
import DefaultLayout from "../layouts/default-layout.astro";
import Head from "../components/Head.astro";
import Image from "../components/Image.astro";
---

<html lang="en">
  <head>
    <Head title="Error 404: Not Found" />
  </head>
  <body>
    <DefaultLayout>
      <main class="my-4">
        <header>
          <div class="overflow-hidden max-h-[38rem]">
            <Image
              alt="error 404"
              class="h-auto w-full"
              src="https://images.unsplash.com/photo-1584824486509-112e4181ff6b?w=1200"
            />
          </div>
        </header>
      </main>
    </DefaultLayout>
  </body>
</html>
