---
import DefaultLayout from "../layouts/default-layout.astro";
import Head from "../components/Head.astro";
---

<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <DefaultLayout>
      <main
        class="mx-auto max-w-7xl mt-10 md:mt-16 lg:mt-20 xl:mt-28 px-4 sm:px-6 lg:px-8"
      >
        <div class="sm:text-center lg:text-left">
          <h1
            class="text-4xl text-gray-900 font-bold tracking-tight sm:text-5xl md:text-6xl"
          >
            <span class="block xl:inline">Opportunity to enrich your</span>
            <span class="block xl:inline text-indigo-500">
              online business</span
            >
          </h1>
          <p
            class="mt-3 text-base text-gray-500 sm:mx-auto sm:mt-5 sm:text-lg md:mt-5 md:text-xl lg:mx-0"
          >
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
            lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
            fugiat aliqua.
          </p>
          <div class="mt-14 sm:mt-8 flex justify-center lg:justify-start">
            <a
              href="mailto:saxenadhruv1927@gmail.com?cc=contact@kairoverse.com&subject=Kairoverse - Requirements: "
              class="shadow w-full max-w-sm text-center rounded-md bg-indigo-500 hover:bg-indigo-700 text-white text-base font-medium py-3 md:py-4 md:text-lg"
            >
              Contact Us
            </a>
          </div>
        </div>
      </main>
    </DefaultLayout>
    <section class="absolute left-0 bottom-0 right-0">
      <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="53%" x2="100%" y2="47%"><stop offset="5%" stop-color="#6466e9"></stop><stop offset="95%" stop-color="#7678e8"></stop></linearGradient></defs><path d="M 0,500 C 0,500 0,166 0,166 C 64.88974358974357,159.33589743589744 129.77948717948715,152.67179487179487 202,173 C 274.22051282051285,193.32820512820513 353.7717948717949,240.64871794871794 435,226 C 516.2282051282051,211.35128205128206 599.1333333333332,134.73333333333335 697,114 C 794.8666666666668,93.26666666666667 907.6948717948719,128.41794871794872 985,161 C 1062.305128205128,193.58205128205128 1104.0871794871796,223.59487179487178 1174,224 C 1243.9128205128204,224.40512820512822 1341.9564102564102,195.2025641025641 1440,166 C 1440,166 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="0%" y1="53%" x2="100%" y2="47%"><stop offset="5%" stop-color="#6466e9"></stop><stop offset="95%" stop-color="#7678e8"></stop></linearGradient></defs><path d="M 0,500 C 0,500 0,333 0,333 C 58.7179487179487,348.33846153846156 117.4358974358974,363.6769230769231 195,349 C 272.5641025641026,334.3230769230769 368.974358974359,289.63076923076926 457,293 C 545.025641025641,296.36923076923074 624.6666666666666,347.79999999999995 719,350 C 813.3333333333334,352.20000000000005 922.3589743589744,305.16923076923075 991,296 C 1059.6410256410256,286.83076923076925 1087.8974358974358,315.5230769230769 1156,328 C 1224.1025641025642,340.4769230769231 1332.0512820512822,336.73846153846154 1440,333 C 1440,333 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
    </section>
  </body>
</html>
