---
import ContactUsFormComponent from "../components/preact/ContactUsForm";

const props = Astro.props;
---

<footer class:list={["my-4", props.showButton ? "text-center" : "text-center md:text-left px-8"]}>
  {props.showButton && <ContactUsFormComponent />}
  <div>
    <small class="mt-4 footer-text block">
      Built with <span class="text-red-500">❤</span> by Kairoverse
    </small>
  </div>
</footer>

<style>
  .footer-text {
    @apply text-gray-600 font-semibold;
  }
</style>
