---
import ContactUsFormComponent from "../components/preact/ContactUsForm";
---

<footer class="text-center">
  <hr class="my-4" />

  <ContactUsFormComponent />

  <div class="my-2">
    <small class="mt-2 footer-text block">
      Built with <span class="text-red-500">❤</span> by Kairoverse
    </small>
  </div>
</footer>

<style>
  .footer-text {
    @apply text-gray-600 font-semibold;
  }
</style>
