---
import TwitterLogo from "./icons/twitter.astro";
import LinkedinLogo from "./icons/linkedin.astro";
import GithubLogo from "./icons/github.astro";

const date = new Date();
---

<footer>
  <div
    class="border-t mt-8 px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
  >
    <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="sm:col-span-2">
        <a
          href="/"
          aria-label="Go home"
          title="Company"
          class="inline-flex items-center"
        >
          <svg
            class="w-8 text-deep-purple-accent-400"
            viewBox="0 0 24 24"
            stroke-linejoin="round"
            stroke-width="2"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke="currentColor"
            fill="none"
          >
            <rect x="3" y="1" width="7" height="12"></rect>
            <rect x="3" y="17" width="7" height="6"></rect>
            <rect x="14" y="1" width="7" height="6"></rect>
            <rect x="14" y="11" width="7" height="12"></rect>
          </svg>
          <span
            class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase"
          >
            Kairoverse
          </span>
        </a>
        <div class="mt-6 lg:max-w-sm">
          <!-- <p class="text-sm text-gray-800">
            We are a catalyst to providing our services that help businesses expand faster, enhance productivity, and strengthen data security.
          </p>
          <p class="mt-4 text-sm text-gray-800">
            Our services include but are not limited to Web-development, Application Development, Web designing, Android, IOS development and other IT consultations.
          </p> -->
        </div>
      </div>
      <div class="space-y-2 text-sm">
        <p class="text-base font-bold tracking-wide text-gray-900">Contacts</p>
        <div class="flex">
          <p class="mr-1 text-gray-800">Email:</p>
          <a
            href="mailto:contact@kairoverse.com?subject=Kairoverse - Requirements: "
            aria-label="Our email"
            title="Our email"
            class="transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800"
          >
            contact@kairoverse.com
          </a>
        </div>
      </div>
      <div>
        <span class="text-base font-bold tracking-wide text-gray-900">
          Social
        </span>
        <div class="flex items-center mt-1 space-x-3">
          <TwitterLogo classname="fill-gray-500 h-7 w-7" />
          <LinkedinLogo classname="fill-gray-500 h-7 w-7" />
          <GithubLogo classname="fill-gray-500 h-7 w-7" />
        </div>
        <p class="mt-4 text-sm text-gray-500">
          Contact us on social media. 
        </p>
      </div>
    </div>
    <div
      class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row"
    >
      <p class="text-sm text-gray-600">
        © Copyright {date.getFullYear()} Kairoverse Technologies. All rights reserved.
      </p>
      <ul
        class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row"
      >
        <li>
          <a
            href="/"
            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400"
          >
            F.A.Q
          </a>
        </li>
        <li>
          <a
            href="/"
            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400"
          >
            Privacy Policy
          </a>
        </li>
        <li>
          <a
            href="/"
            class="text-sm text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400"
          >
            Terms &amp; Conditions
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
