---
const currentYear = new Date().getFullYear();
---

<footer class="text-center px-2 py-4">
  <span class="footer-text">&copy; {currentYear} Kairoverse</span>
  <small class="mt-2 footer-text block">
    Built with <span class="text-red-500">❤</span> by Kairoverse
  </small>
</footer>

<style>
  .footer-text {
    @apply text-gray-600 font-semibold;
  }
</style>
