---
import ContactUsFormComponent from "../components/preact/ContactUsForm";
---

<footer class:list={["my-4", "text-center"]}>
  <hr class="my-4"/>
  <ContactUsFormComponent />
  <div>
    <small class="mt-4 footer-text block">
      Built with <span class="text-red-500">❤</span> by Kairoverse
    </small>
  </div>
</footer>

<style>
  .footer-text {
    @apply text-gray-600 font-semibold;
  }
</style>
