---
import LinkedinIcon from "../assets/icons/linkedin.astro";
import GithubIcon from "../assets/icons/github.astro";
---

<nav class="flex gap-4 justify-between items-center px-2">
  <!-- Menu -->
  <section class="flex gap-4 items-center justify-between">
    <a class="link" href="/">
      <span class="logo">Kairoverse</span>
    </a>
    <a class="link" href="/projects/"> Portfolio</a>
    <a class="link" href="/about/"> About</a>
  </section>
  <!-- Socials -->
  <section class="hidden sm:flex gap-4">
    <a href="https://linkedin.com/in/dhruvsaxena1998">
      <LinkedinIcon />
    </a>
    <a href="https://github.com/kairoverse">
      <GithubIcon />
    </a>
  </section>
</nav>

<style>
  .link {
    @apply text-gray-600 font-bold no-underline uppercase
    hover:text-blue-500 text-base;
  }

  .logo {
    @apply text-2xl;
  }
</style>
