---
import Nav from "../components/Nav.astro";
import Analytics from "../components/Analytics.astro";


Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=600, s-maxage=600, stale-while-revalidate=600"
);
---

<div class="mx-auto max-w-6xl">
  <Nav />
  <slot />
</div>

<Analytics />
